<!-- start::team -->
<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Meet our Team</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam
                    laborum,
                    ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>
        </div>
        <div class="row">
            <div data-aos="fade-right" class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-4">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="../assets/images/landing/faces/15.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Lovish Dureja</h5>
                        <p class="mt-0">Team Leader, Backend Developer</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn half-button btn-gradient">Contact Lovish</button>
                        <div class="card-socials-simple mt-4">

                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div data-aos="fade-up" class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-4">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="../assets/images/landing/faces/12.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Alpa Parmar</h5>
                        <p class="mt-0">Front end Developer</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn half-button btn-gradient">Contact Alpa</button>
                        <div class="card-socials-simple mt-4">

                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div data-aos="fade-up" class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0 mb-4">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="../assets/images/landing/faces/16.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Rahul</h5>
                        <p class="mt-0">Database Manager</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn half-button btn-gradient">Contact Rahul</button>
                        <div class="card-socials-simple mt-4">

                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div data-aos="fade-left" class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="../assets/images/landing/faces/5.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Farhana</h5>
                        <p class="mt-0">Tester</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn half-button btn-gradient">Contact Farhana</button>
                        <div class="card-socials-simple mt-4">

                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a routerLink="#" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
<!-- end::team -->