<!-- Footer Start -->
<div class="flex-grow-1"></div>

<section class="footer_wrap" id="footer-wrap">
    <div class="container-fluid">
        <div class="row">


            <div data-aos="fade-up" class="col-md-3 mb-2" style="margin-left: 100px;margin-right: auto;">
                <div class="o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold">Safety Seekers</h4>
                        <p class="">
                            A billboard displaying fire accidents and events in Windsor City
                        </p>
                    </div>

                    <section class="social-wrap">

                        <div class="social-btns-wrap">

                            <a class="social-btn text-30 facebook ml-0" routerLink="#"><i
                                    class="eva eva-facebook"></i></a>

                            <a class="social-btn text-30 twitter" routerLink="#"><i class="eva eva-twitter"></i></a>

                            <a class="social-btn text-30 google" routerLink="#"><i class="eva eva-google"></i></a>

                        </div>
                    </section>
                </div>
            </div>
            <!-- end of col -->
            <div data-aos="fade-up" class="col-md-2 mb-2">
                <div class="o-hidden text-left">



                    <div class="">
                        <h4 class="card-title font-weight-bold">Links</h4>
                        <div class="mb-5 lead">
                            <ul class="list-inline">
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning"><a
                                            routerLink="/">Home</a></i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="/about"> About</a>
                                    </i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="/events">Events</a>
                                    </i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="/guidelines"> Safety Guidelines </a>
                                    </i>

                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <div data-aos="fade-up" class="col-md-2 mb-2 mb-lg-0 mb-md-0">
                <div class="o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Links</h4>
                        <div class="mb-5 lead">
                            <ul class="list-inline">
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="/login">Login</a>
                                    </i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="/register">Register</a>
                                    </i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="">Privacy Policy</a>
                                    </i>
                                </li>
                                <li class="mb-3">
                                    <i class="eva eva-arrowhead-right-outline mr-2 text-warning">
                                        <a routerLink="">Terms & Conditions</a>
                                    </i>

                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div data-aos="fade-up" class="col-md-3 mb-lg-0 mb-md-0" style="margin-left: auto;">
                <div class="o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>
                                    <p style="margin-top: -20px;"> University of Windsor,<br />Windsor, Ontario,
                                        <br />Canada</p>


                                </li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>
                                    <p style="margin-top: -40px;">parmar21@uwindsor.ca</p>
                                </li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i>
                                    <p style="margin-top: -40px;">+8801961081993</p>
                                </li>

                            </ul>
                        </div>



                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
<!-- end footer -->