<!-- Footer -->
<footer class="container-fluid page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Safety Seekers</h5>
                <p>A billboard displaying fire accidents and events in Windsor City</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-50 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/guidelines">Safety Guidelines</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-50 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-2 mb-2">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="">Sign Up</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms & Conditions</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-50 d-md-none">

            
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">© 2021 Copyright @
        <a href="/"> Safety Seekers</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->