<!-- our-events -->
<div style="margin-top: 100px;">
<section id="works-wrap" class="work1Wrap">
    <div class="container">
        <div class="row">
            <div class="section-header col-md-12 mb-5 text-center">
                <h2 class="font-weight-bold"> Events</h2>
                <h5>Events in Windsor, Ontario</h5>
            </div>
            <div>
                
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">


                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Festival</h5>
                        <p class="card-text">
                            
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="/event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline" style="margin-left: 5px;">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">
                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/img2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Summer Fest</h5>
                        <p class="card-text">
                           
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">
                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Wedding Party</h5>
                        <p class="card-text">
                            
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="/event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-4">
                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/pimg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Event at Polish Club</h5>
                        <p class="card-text">
                            
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="/event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0 mb-4">
                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/himg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Celebration</h5>
                        <p class="card-text">
                            
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="/event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0">
                <div class="card o-hidden">
                    <img class="card-img-top" src="./assets/images/eventimg/himg2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Birthday Celebration</h5>
                        <p class="card-text">
                        </p>
                    </div>
                    <div class="card-footer pl-3">
                        <a routerLink="/event-details" class="btn btn-lg p-1 text-dark mr-1">
                            <span class="eva eva-link-2-outline">Details</span>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end::our-events -->
</div>