<!-- start::contact-form -->
<div style="margin-top: 100px;">
    <section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
        <div class="container-fluid">
            <div class="row">

                <div data-aos="fade-right" class="form-wrap col-md-7 mb-4">
                    <div class="section-header mb-5 text-center">
                        <h2 class="font-weight-bold mb-3">Venue Details</h2>
                        
                    </div>
                   
                    <div class="right-image-carousel">
                    
                        <div>
                            <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/fireloc.svg"
                                alt="Fire Tracking" style="height: 200px;">
                        </div>
                        <div><img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/upcomingEvents.svg"
                                alt="Upcoming Events" style="height: 200px;">
                        </div>
                        <div>
                            <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/bookVenue.svg"
                                alt="Book Venue" style="height: 200px;">
                        </div>
                        <div>
                            <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/security.jpg" alt="Book Venue" style="height: 200px;">
                        </div>
                    </div>
                    <div class="slick_control_wrap text-center">
                    
                    
                        <button type="button"
                            class="ngu_control_button half-button right-image-arrow-left leftRs btn btn-circle btn-white btn-shadow"><i
                                class="eva eva-chevron-left-outline"></i></button>
                        <button type="button"
                            class="ngu_control_button half-button right-image-arrow-right rightRs btn btn-circle btn-white btn-shadow"><i
                                class="eva eva-chevron-right-outline"></i></button>
                    </div>


                    <form class="row form mt-5" role="form">
                        <div class="form-group mb-4 col-md-12">
                            <label for="">
                                <i class="eva eva-person-outline"></i>
                            </label>
                            <input type="text" name="Name" id="" class="form-control" placeholder="Venue name" disabled>

                        </div>

                        <div class="form-group mb-4 col-md-6">
                            <label for="">
                                <i class="eva eva-phone-call-outline"></i>
                            </label>
                            <input type="text" name="phone" class="form-control" placeholder="Phone number" aria-describedby="helpId" disabled>
                        
                        </div>

                        <div class="form-group mb-4 col-md-6">
                            <label for="">
                                <i class="eva eva-email-outline"></i>
                            </label>
                            <input type="email" name="email" class="form-control" placeholder="Your email"
                                aria-describedby="helpId">

                        </div>
                        
                        <div class="form-group mb-4 col-md-12">

                            <label for="">
                                <i class="eva eva-pin-outline"></i>
                            </label>
                            <textarea class="form-control" placeholder="Address" name="address"
                                rows="5" disabled></textarea>


                        </div>

                    </form>



                </div>
                <div data-aos="fade-left" class="col-md-4 align-items-center">
                    
                    <div class="right-contact-wrap ml-5">
                            <!-- <button type="submit" class="btn btn-block half-button form-submit-button btn-large btn-gradient">Book
                                Venue
                            </button> -->
                        <div class="accordion" id="accordionExample">
                            <div class="card ul-card__border-radius">
                                <div class="card-header">
                                    <h6 class="card-title mb-0 text-center">
                                        <a class="collapsed" data-toggle="collapse" href="#venue-form" style="font-weight: bold; align-items: center;">Book Venue</a>
                                    </h6>
                                </div>
                            
                                <div id="venue-form" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body form-wrap">
                                        <form class="row form mt-1" role="form">
                                            <div class="form-group mb-4 col-md-12">
                                                <label for="">
                                                    <i class="eva eva-edit-outline"></i>
                                                </label>
                                                <input type="text" name="eventName" id="" class="form-control" placeholder="Event Name" style="border-radius: 10px; border: #f03250 solid 1px;">
                                        
                                            </div>
                                            <div class="form-group mb-4 col-md-6">
                                                <label for="">
                                                    <i class="eva eva-calendar-outline"></i>
                                                </label>
                                                <input type="date" name="startDate" id="" class="form-control" placeholder="Event Start Date" style="border-radius: 10px; border: #f03250 solid 1px;">
                                            
                                            </div>
                                            <div class="form-group mb-4 col-md-6">
                                                <label for="">
                                                    <i class="eva eva-calendar-outline"></i>
                                                </label>
                                                <input type="date" name="endDate" id="" class="form-control" placeholder="Event End Date" style="border-radius: 10px; border: #f03250 solid 1px;">
                                            </div>
                                            <div class="form-group mb-4 col-md-12">
                                                <label for="">
                                                    <i class="eva eva-bookmark-outline"></i>
                                                </label>
                                                <select name="fireCat" class="form-control" aria-describedby="helpId" style="border-radius: 10px; border: #f03250 solid 1px;">
                                                    <option selected disabled>
                                                        Select Venue
                                                    </option>
                                                    <option>
                                                        Venue 1
                                                    </option>
                                                    <option>
                                                        Venue 2
                                                    </option><option>
                                                        Venue 3
                                                    </option><option>
                                                        Venue 4
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group mb-4 col-md-12">
                                                <label for="">
                                                    <i class="eva eva-person-outline"></i>
                                                </label>
                                                <input type="text" name="orgName" class="form-control" placeholder="Organizer's Name" aria-describedby="helpId" style="border-radius: 10px; border: #f03250 solid 1px;">
                                            
                                            </div>
                                            <div class="form-group mb-4 col-md-12">
                                                <label for="">
                                                    <i class="eva eva-phone-call-outline"></i>
                                                </label>
                                                <input type="text" name="orgPhone" class="form-control" placeholder="Organizer's Phone number" aria-describedby="helpId" style="border-radius: 10px; border: #f03250 solid 1px;">
                                        
                                            </div>
                                        
                                            <div class="form-group mb-4 col-md-12">
                                                <label for="">
                                                    <i class="eva eva-email-outline"></i>
                                                </label>
                                                <input type="email" name="orgEmail" class="form-control" placeholder="Organizer's Email" aria-describedby="helpId">
                                        
                                            </div>
                                        
                                            <div class="form-group mb-4 col-md-12">
                                        
                                                <label for="">
                                                    <i class="eva eva-pin-outline"></i>
                                                </label>
                                                <textarea class="form-control" placeholder="Organizer's Address" name="orgAddress" rows="5"></textarea>
                                        
                                            </div>
                                            <div class="form-group mb-4 col-md-6 ml-auto mr-auto">
                                                <button type="submit" class="btn btn-block half-button form-submit-button btn-small btn-gradient">
                                                    Book Now
                                                </button>
                                            </div>    
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end::contact-form -->