<!-- start::contact-form -->
<div style="margin-top: 100px;">
    <section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
        <div class="container-fluid">
            <div class="row">

                <div data-aos="fade-right" class="form-wrap col-md-8 mb-4">
                    <div class="section-header mb-5">
                        <h2 class="font-weight-bold mb-3">Venue Details</h2>
                        
                    </div>
                    

                    <form class="row form" role="form">
                        <div class="form-group mb-4 col-md-12">
                            <label for="">
                                <i class="eva eva-person-outline"></i>
                            </label>
                            <input type="text" name="Name" id="" class="form-control" placeholder="Venue name" disabled>

                        </div>

                        <div class="form-group mb-4 col-md-6">
                            <label for="">
                                <i class="eva eva-phone-call-outline"></i>
                            </label>
                            <input type="text" name="phone" class="form-control" placeholder="Phone number" aria-describedby="helpId" disabled>
                        
                        </div>

                        <div class="form-group mb-4 col-md-6">
                            <label for="">
                                <i class="eva eva-email-outline"></i>
                            </label>
                            <input type="email" name="email" class="form-control" placeholder="Your email"
                                aria-describedby="helpId">

                        </div>
                        
                        <div class="form-group mb-4 col-md-12">

                            <label for="">
                                <i class="eva eva-pin-outline"></i>
                            </label>
                            <textarea class="form-control" placeholder="Address" required name="address"
                                rows="5"></textarea>


                        </div>

                        <div class="form-group col-md-12">
                            <button type="submit"
                                class="btn btn-block half-button form-submit-button btn-large btn-gradient">Send
                                message
                            </button>

                        </div>



                    </form>



                </div>
                <div data-aos="fade-left" class="col-md-6 align-items-center">
                    <div class="right-contact-wrap ml-5">

                        <img src="./assets/images/contact.svg" class="img-responsive zoom-fade"
                            alt="contact Image desktop">

                        <!-- <div class="address-wrap mb-4">-->


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end::contact-form -->