<!-- intro-section -->
<section id="introduction-wrap" class="intro-wrap bg-primary text-left text-black">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4 intro-LeftSection pb-3">
                <h6 class="font-weight-bold text-black text-28 mb-3 t-shadow text-center">
                    Billboard of Fire Accidents, Venues and Events for Windsor
                </h6>
                <!-- <p class="text-20 mb-4"> 
                    Search Fire Accidents, venues, on-going events and upcoming events occuring in Windsor, Ontario                     

                </p> -->



                <div class="service-wrap ">

                    <div class="card o-hidden mb-4" style="font-size: 15px;font-weight: 600;">

                        <div class="card-header p-0 text-center">
                            <h3>Filters</h3>
                        </div>

                        <div class="card-body text-left form-wrap">
                            <form class="row form" role="form">
                                <div class=" col-md-4">
                                    <label for="">
                                        Search
                                    </label>
                                </div>

                                <div class="form-group mb-4 col-md-8">

                                    <input type="text" name="searchFor" class="form-control mr-auto"
                                        placeholder="Search" aria-describedby="helpId"
                                        style="border-radius: 10px; border: #f03250 solid 1px;">

                                </div>
                                <div class="col-md-4">
                                    <label for="">
                                        Fire Accident Categories
                                    </label>
                                </div>
                                <div class="form-group mb-4 col-md-8">

                                    <select name="fireCat" class="form-control" aria-describedby="helpId"
                                        style="border-radius: 10px; border: #f03250 solid 1px;">
                                        <option selected disabled>
                                            Select Fire Accident Category
                                        </option>

                                        <option>
                                            Domestic
                                        </option>
                                        <option>
                                            Vehicle Accident
                                        </option>
                                        <option>
                                            Industrial
                                        </option>
                                    </select>

                                </div>
                                <div class="col-md-4">
                                    <label for="">
                                        Venues
                                    </label>
                                </div>
                                <div class="form-group mb-4 col-md-8">

                                    <select name="fireCat" class="form-control" aria-describedby="helpId"
                                        style="border-radius: 10px; border: #f03250 solid 1px;">
                                        <option selected disabled>
                                            Select Venue
                                        </option>

                                        <option>
                                            Venue 1
                                        </option>
                                        <option>
                                            Venue 2
                                        </option>
                                        <option>
                                            Venue 3
                                        </option>
                                    </select>

                                </div>

                                <div class="form-group col-md-4 ml-auto mr-auto">

                                </div>



                            </form>

                        </div>
                        <div class="card-footer pl-3 text-left col-md-4 ml-auto mr-auto">
                            <button type="submit"
                                class="btn btn-block half-button form-submit-button btn-small btn-gradient">
                                Submit
                            </button>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 intro-RightSection d-flex align-items-center">



                <!--  http://demos.ui-lib.com/dexam-angular-html/assets/images/landing/svg/v10-header4.svg -->
                <!-- <img src="./assets/img/img.jpg"
                  class="img-responsive" alt="img-intro"> -->

                <iframe width="100%" height="100%" loading="lazy" allowfullscreen
                    src="https://www.google.com/maps/embed/v1/view?zoom=11&center=42.3149%2C-83.0364&key=AIzaSyCWQEm6APn_wN_HSkV6VtbF2h1hQDbkTpo">
                </iframe>


            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>

<!-- end::intro-section -->