    <div style="margin-top: 200px; text-align: center;" class="container">
        <h1 style="font-size: 40px; font-weight: 700; margin-bottom: 20px;">About Us Page</h1>
        <p class="text-justify" style="font-size: 25px; font-weight: 500;">
            The goal of “Safety Seekers” is to create awareness among local people of Windsor
            city as well as among those who are visitors or people willing to migrate to Windsor
            regarding fire incidents that took place at different locations in Windsor city. This will
            help them to take necessary precautions, if they are living in or near, or visiting fire
            accident prone areas. In addition to it, the web app will assist emergency rescue
            system of the city to set up their stations/offices near such accident-prone areas in
            order to reduce damage to life and property.

        </p>
        <p class="text-justify " style="font-size: 25px; font-weight: 500;">
            “Safety Seekers” aims to help the local emergency rescue system and people of
            Windsor city by providing information regarding fire accidents and their frequency at
            any place in Windsor, Ontario. i.e., it will highlight the areas or localities that are prone
            to fire accidents on map of Windsor city, so that people who are visiting those places
            or are thinking to migrate are well informed about the locality and can take all the
            necessary precautions or look for other options. Thus, making local authorities and
            people aware about such locations.
            Furthermore, with the help of this web application, people will be able to book venue
            for their events (sports, exhibition, cultural, etc) and these events and their location
            will be displayed on map.
        </p>
    </div>
