<div style="margin-top: 200px;">
    
    <div class="text-center">
        <h1 style="font-size: 40px; font-weight: 800; margin-bottom: 30px;">Fire Safety Guidelines </h1>
            </div>
    <div class="container text-justify" >
        <h4 style="font-size: 28px; font-weight: 600;" >References for Guidelines</h4>

        <ul style="font-size: 25px;">
            <li>
                <a routerLink="https://publications.ehs.iastate.edu/fireguide/"> Fire Safety Guidelines By IOWA State
                    university</a>
        
            </li>
            <li> <a
                    routerLink="https://www.mcscs.jus.gov.on.ca/english/FireMarshal/FireServiceResources/PublicFireSafetyGuidelines/OFM_Guidelines.html">
                    Public Fire Safety Guidelines By Ministry of Solicitor General, Ontario</a></li>
            <li><a routerLink="https://www.canada.ca/en/health-canada/services/home-safety/fire-safety.html">Fire Safety in Home
                    By Government of Canada</a></li>
        </ul>
    </div>
    
</div>