<!-- start::contact-form -->
<div style="margin-top:50px;">

    <section id="contacts-wrap" class="contact-form-wrap light-gray p-t-b-80">
        <div class="container">


            <div class="section-header mb-4 mt-5 text-center">
                <h2 style="font-weight: 600; font-size: 50px;color: #f03250;">Register</h2>
            </div>
            <div data-aos="fade-right" class="form-wrap text-center col-md-6 mb-4"
                style="margin-left: auto;margin-right: auto; box-shadow: 0 0 0 0.2rem rgba(245, 88, 119, 0.25);">

                <!-- <div class="alert alert-success alert-dismissible fade show" role="alert"
                    [@animate]="{value:'*',params:{y:'-120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Your Message Sent succefully</strong>
                </div> -->


                <form class="row form" role="form">
                    <div class="form-group mb-4 col-md-12 mt-5">
                        <label for="">
                            <i class="eva eva-email-outline"></i>
                        </label>
                        <input type="email" required name="email" class="form-control" placeholder="Your email"
                            aria-describedby="helpId">

                    </div>
                    <div class="form-group mb-4 col-md-12">
                        <label for="">
                            <i class="eva eva-edit-2-outline"></i>
                        </label>
                        <input type="password" required name="password" class="form-control"
                            placeholder="Enter Password" aria-describedby="helpId">

                    </div>
                    <div class="form-group mb-4 col-md-12">
                        <label for="">
                            <i class="eva eva-edit-2-outline"></i>
                        </label>
                        <input type="password" required name="confirmPassword" class="form-control"
                            placeholder="Re-enter Password" aria-describedby="helpId">

                    </div>

                    <div class="form-group col-md-4 ml-auto mr-auto">
                        <button type="submit"
                            class="btn btn-block half-button form-submit-button btn-large btn-gradient">
                            Register
                        </button>

                    </div>



                </form>



            </div>

        </div>
    </section>

    <!-- end::contact-form -->
</div>