<!-- our-events -->
<div style="margin-top: 100px;">
    <section id="works-wrap" class="work1Wrap">
        <div class="container">
            <div class="row">
                <div class="section-header col-md-12 mb-5 text-center">
                    <h2 class="font-weight-bold"> Venues</h2>
                    <h5>Venues in Windsor, Ontario</h5>
                </div>
                <div>

                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">


                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/wec.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Water's Edge Event Centre                    
                            </h5>
                            <p class="card-text">
                                Address: 2879 Riverside Dr E, Windsor, ON N8Y 4S7, Canada
                                Contact: +1 519-257-1983
                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">
                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/sc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Serbian Centre
                            </h5>
                            <p class="card-text">
                            Address: 6770 Tecumseh Rd E, Windsor, ON N8T 1E6, Canada
                            Contact: +1 519-944-4884
                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-4">
                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/rmh.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Rockstar Music Hall & Platinum Room Banquet Hall Events Center
                            </h5>
                            <p class="card-text">
                            Address: 2418 Central Ave, Windsor, ON N8W 4J3, Canada
                            Contact: +1 519-945-1189

                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-4">
                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/hwbc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Heimat Windsor Banquet Centre
                            
                           </h5>
                            <p class="card-text">
                                Address: 1367 Drouillard Rd, Windsor, ON N8Y 2R8, Canada
                                Contact: +1 519-915-9821

                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0 mb-4">
                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/ssc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">St Cyril's Slovak Centre
                            </h5>
                            <p class="card-text">
                                Address: 1520 Chandler Rd, Windsor, ON N8Y 4P7, Canada
                                Contact: +1 519-945-7063

                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-md-6 col-lg-4 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0">
                    <div class="card o-hidden">
                        <img class="card-img-top" src="./assets/images/pc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Polish Club Windsor
                            </h5>
                            <p class="card-text">
                               Address: 1275 Langlois Ave, Windsor, ON N8X 4L6, Canada
                               Contact: +1 519-254-1639

                            </p>
                        </div>
                        <div class="card-footer pl-3">
                            <a routerLink="/venue-details" class="btn btn-lg p-1 text-dark mr-1">
                                <span class="eva eva-link-2-outline">Details</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end::our-events -->
</div>