<div class="container-fluid map">

    <iframe width="100%" height="100%" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/view?zoom=11&center=42.3149%2C-83.0364&key=AIzaSyCWQEm6APn_wN_HSkV6VtbF2h1hQDbkTpo">
    </iframe>

    <div class="main_inner_search_block mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h2>Find what you need!</h2>
                    <h4>Find some of the best tips from around the city from our partners and friends</h4>
                </div>
                <div class="main_input_search_part">
                    <div class=" main_input_search_part_item input-group mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Keywords"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class=" main_input_search_part_item input-group mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Venues"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="main_input_search_part_item chosen-single">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>All Fire Categories</option>
                            <option value="1">Industrial</option>
                            <option value="2">Domestic</option>
                            <option value="3">Vehicle</option>
                        </select>
                    </div>
                    <button class="btn primary-btn d-flex mt-2"
                        onclick="window.location.href='listings_list_with_sidebar.html'">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>