<!--=============== Header start ================-->
<div class="main-header header-fixed-default" id="home-header">
    <nav class="navbar container-fluid w-100 navbar-expand-lg navbar-transparent bg-transparent d-flex align-items-end">


        <div class="logo" style="margin-top: 0px;margin-bottom: 10px;margin-left: 50px;">
            <img src="../assets/images/logo.png" style="margin-top: 0px;" alt="">
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="d-flex align-items-start" style="margin-right:auto;font-weight: 700;font-size: xx-large;">
                <a class="scroll-to nav-link m-2" routerLink="/"> Safety Seekers </a>
            </div>


            <div class="header-part-right d-flex align-items-end">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-flex flex-begin">

                    </li>
                    <li class="nav-item active">
                        <a class="scroll-to nav-link m-2" routerLink="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="scroll-to nav-link m-2" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="scroll-to nav-link m-2" routerLink="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="scroll-to nav-link m-2" routerLink="/venues">Venues</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/guidelines" class="scroll-to nav-link m-2">Safety Guidelines </a>
                    </li>
                    <li class="nav-item">
                        <a class="scroll-to nav-link m-2" routerLink="/contact">Contact Us</a>
                    </li>

                    <li class="nav-item intro-Buttons" style="margin-left: 5px;">
                        <a name="" id=""
                            class="btn half-button btn-outline-white btn-md pl-4 pr-4 pb-2 mr-2 text-uppercase"
                            routerLink="/login" role="button">
                            Login
                        </a>
                    </li>
                    <li class="nav-item intro-Buttons">
                        <a name="" id=""
                            class="btn half-button btn-outline-white btn-md pl-4 pr-4 pb-2 mr-2 text-uppercase"
                            routerLink="/register" role="button">
                            Register
                        </a>
                    </li>
                </ul>



            </div>
        </div>
    </nav>

</div>

<!--=============== Header End ================-->