<!-- start-upcoming events -->
<section id="services-wrap" class="services-caurosel-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Upcoming Events</h2>
                <p>View upcoming events in Windsor, Ontario</p>

            </div>
            <div class="col-md-12">

                <div data-aos="fade-up" class="slick-services-carousel-wrap">
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service-1" alt="desktop-service1">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event one
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service14.svg" alt="service 14 desktop">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event two
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service15.svg" alt="service15 desktop">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">
                                    Event three
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive"
                                    src="http://demos.ui-lib.com/dexam-angular-html/assets/images/landing/services/services16.svg">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event four
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service9.svg" alt="service9 desktop">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event five
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service6.svg" alt="service6 desktop">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event six
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service10.svg" alt="service10 desktop">
                            </div>
                            <div class="card-body text-left">


                                <h3 class="card-title text-capitalize font-weight-bold">Event
                                    seven
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->
                    <!-- start slider item -->
                    <div class="service-wrap">

                        <div class="card o-hidden mb-4">

                            <div class="card-header p-0 text-left">

                                <img class="img-responsive" src="service5.svg" alt="service 5 desktop">
                            </div>
                            <div class="card-body text-left">

                                <h3 class="card-title text-capitalize font-weight-bold">Event
                                    eight
                                </h3>
                                <p class="card-text">Adipisci quas repellat sed. Quasi quaerat aut
                                    nam
                                    possimus vitae dignissimos, sapiente est atque tenetur</p>
                                <!-- <a routerLink="#" class="text-primary text-capitalize font-weight-medium"> <span>Read More</span> </a> -->
                            </div>
                            <div class="card-footer pl-3 text-left">
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-link-2-outline"></span>
                                </a>
                                <a routerLink="#" class="btn btn-lg p-1 mr-1 text-dark">
                                    <span class="eva eva-share"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider item -->

                </div>

                <!-- end of slider wrap-->
                <div class="slick_control_wrap text-center">


                    <button data-aos="fade-right" type="button"
                        class="ngu_control_button half-button services-arrow-left leftRs btn btn-circle btn-white btn-shadow"><i
                            class="eva eva-chevron-left-outline"></i></button>
                    <button data-aos="fade-left" type="button"
                        class="ngu_control_button half-button services-arrow-right rightRs btn btn-circle btn-white btn-shadow"><i
                            class="eva eva-chevron-right-outline"></i></button>
                </div>
                <!-- end of slider button -->






            </div>

        </div>

    </div>

</section>
<!-- end-services -->