
<div class="container-fluid" style="margin-top: 200px;">
<section class="faqs-wrap p-t-b-80" id="faqs-wrap">
    <div class="container-fluid">
        <!-- <div class="row">

        </div> -->

        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12" >
                <div class="right-image-carousel">
            
                    <div>
                        <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/fireloc.svg"
                            alt="Fire Tracking" style="width: 600px;">
                    </div>
                    <div><img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/upcomingEvents.svg"
                            alt="Upcoming Events">
                    </div>
                    <div>
                        <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/bookVenue.svg"
                            alt="Book Venue">
                    </div>
                    <div>
                        <img alt="Card image cap" class="img-responsive w-100 mb-4" src="./assets/images/security.jpg"
                            alt="Book Venue">
                    </div>
                </div>
                <div class="slick_control_wrap text-center">
            
            
                    <button type="button"
                        class="ngu_control_button half-button right-image-arrow-left leftRs btn btn-circle btn-white btn-shadow"><i
                            class="eva eva-chevron-left-outline"></i></button>
                    <button type="button"
                        class="ngu_control_button half-button right-image-arrow-right rightRs btn btn-circle btn-white btn-shadow"><i
                            class="eva eva-chevron-right-outline"></i></button>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 mb-4 mb-lg-0 mb-md-0 mb-4">
                <div class="section-header mb-3 text-center">
                    <h2 class="font-weight-bold">Event Details</h2>
                    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam
                        laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p> -->

                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-edit-outline mr-1 text-36"></i>
                                    Event Name
                                    <div class="ml-5" style="color: #f03250;">
                                        Name
                                    </div>
                                </div>
                            
                            </h6>

                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-calendar-outline mr-1 text-36"></i>
                                    Start Date
                                    <div class="ml-5" style="color: #f03250;">
                                        <!-- start date -->
                                    </div>
                                </div>
                             
                            </h6>
                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-calendar-outline mr-1 text-36"></i>
                                    End Date
                                    <div class="ml-5" style="color: #f03250;">
                                        <!-- end date -->
                                    </div>
                                </div>
                    
                            </h6>
                        </div>
                    
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-checkmark-circle-2-outline mr-1 text-36"></i>
                                    Status
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  status - past event, ongoing, upcoming -->
                                    </div>
                                </div>
                                
                            
                            </h6>

                        </div>
                    </div>
                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-pin-outline mr-1 text-36"></i>
                                    Location
                                    <div class="ml-5" style="color: #f03250;">
                                        <!-- name - lat lon -->
                                    </div>
                                </div>
                                
                            </h6>
                    
                        </div>
                    </div>
                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-map-outline mr-1 text-36"></i>
                                    Venue
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  venue name -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>
                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-person-outline mr-1 text-36"></i>
                                    Organizer
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  organizer name -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>
                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-keypad-outline mr-1 text-36"></i>
                                    Category
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  Category - education, sports, music, art, business, technology,other -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-flag-outline mr-1 text-36"></i>
                                    Address
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  address -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-phone-call-outline mr-1 text-36"></i>
                                    Phone
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  phone -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-email-outline mr-1 text-36"></i>
                                    Email
                                    <div class="ml-5" style="color: #f03250;">
                                        <!--  email -->
                                    </div>
                                </div>
                    
                            </h6>
                    
                        </div>
                    </div>

                    <div class="card ul-card__border-radius">
                        <div class="card-header">
                            <h6 class="card-title mb-0" style="font-weight: bold;">
                                <div class="mr-2 d-flex align-items-center"><i class="eva eva-share-outline mr-1 text-36"></i>
                                    Share 
                                    <a routerLink=""><i class="eva eva-facebook-outline ml-5 mr-1 text-30"></i></a> 
                                    <a routerLink=""><i class="eva eva-twitter-outline ml-2 mr-1 text-30"></i></a>
                                    
                                </div>
                                
                            </h6>
                    
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            
        </div>

    </div>
</section>


</div>